VITE_CIRCLE_APP_KIT_KEY=
CIRCLE_KIT_KEY=
VITE_LENDING_POOL_ADDRESS=0x474552ce815a68443bdfcafd089cdb345791d204
VITE_SWAP_POOL_ADDRESS=0xfd34e43021f20f585db8f078471c7107d8d1da30
VITE_CIRBTC_ADDRESS=
VITE_ARC_FALLBACK_RPCS=
VITE_WALLETCONNECT_PROJECT_ID=
ARC_TESTNET_PRIVATE_KEY=
